<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="pl.pjatk.lab3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Bmi">
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.BmiActivity"
                android:label="BMI"
                android:parentActivityName=".activity.MainActivity" />
        <activity
                android:name=".activity.ChartActivity"
                android:label="Coronavirus chart"
                android:parentActivityName=".activity.MainActivity" />
        <activity
                android:name=".activity.QuizActivity"
                android:label="Quiz"
                android:parentActivityName=".activity.MainActivity"/>
    </application>

</manifest>
